/*General*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "Poppins", sans-serif;

}

html {
    scroll-behavior: smooth;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.techstack img{
    height: 40px;
    transition: 0.4s;
}

.main-container{
    max-width: 90%;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    padding-top: 30px;
    box-shadow: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100px;
}

.tci:hover{
    height: 60px;
}

header h1 {
    padding: 20px;
    font-size: 3rem;
    color: #D4D4D8;
    font-weight: 300;
    letter-spacing: 10px;
    
}

.landing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    max-width: 100%;
    gap: 10px;
    grid-template-areas: 
        "s1 t1"
    ;
}

.techstack, .socials{
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 15px;
    color: #D4D4D8;
    padding: 20px;

}

.socials {
    display: flex;
    flex-direction: column;
    gap: 0.3rem; 
    grid-area: s1;
}

.techstack{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.socials h3{
    color: #D4D4D8;
    font-size: 2.0rem;
    font-weight: 300;
    margin: 0;
}

.socials h5{
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0;
}

.socials p{
    font-weight: 100;
    font-size: 1rem;
    color: 	#7E7E87;
    margin: 0;


}

.socials a {
    color: #7E7E87;
    font-size: 1rem;
    text-decoration: none;
}

.social-links {
    display: flex;
    gap: 1rem; /* controls space between each link */
    flex-wrap: wrap; /* optional, allows wrapping on smaller screens */
}

.socials a:hover {
    color: rgb(154, 99, 51);
}

.row3, .row2 span {
    color: 	#7E7E87;
    font-size: 2rem;
    font-weight: 300;

}

.workcard span{
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 900;
}
.workcard p{
    color: 	#7E7E87;
    padding: 15px;
    font-weight: 100;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

a{
    text-decoration: underline;
    color: 	#7E7E87;
    font-weight: 100;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.cards{
    margin-top: 10px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 100%;
    gap: 10px;
    grid-template-areas: 
        "wc1 wc2 wc3"
    ;
}


.workcard img{
    height: 350px;
    width: 500px;
}


.bento-grid-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 100%;
    gap: 10px;
    grid-template-areas: 
        "clock about about"
        "education about about"
        "education cheesecake location"
        "s1 t1 t1"
    
    ;
}

.bento-grid-item, .cheesecake, .timeclock{
    padding: 2rem;
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 15px;
}

.bento-grid-item, .cheesecake, .timeclock p{
    color: 	#7E7E87;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 1px;
}

.bento-grid-item span{
    color: 	#D4D4D8;
    font-weight: 300;
    font-size: 1.2rem;
}

.cheesecakebutton{
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    background-color: 	#7E7E87;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 20px;
    letter-spacing: 2px;
    transition: 0.6s;
}

.cheesecakebutton:hover{
    background-color: rgb(154, 99, 51);
    cursor: pointer;

}

.cheesecake{
    padding: 0;
}

.timeclock{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D4D4D8;

}



.row1, .row2, .row3{
    margin-top: 50px;
    margin-bottom: 50px;
} 



.timeclock:hover, .socials:hover, .bento-grid-item:hover, .techstack:hover {
    background-color: black;
}

@media screen and (max-width : 650px) {
    .bento-grid-container{
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "clock"
            "about"
            "education"
            "cheesecake"
            "location"
            "s1"
            "t1"
        
        ;
    }

    .techstack img{
        height: 30px;
        transition: 0.4s;
    }

    .cards{
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        grid-template-areas: 
            "wc1"
            "wc2"
            "wc3"
        ;
    }

    header h1 {
        padding-left: 20px;
        font-size: 2rem;
        color: #D4D4D8;
        font-weight: 300;
        letter-spacing: 5px;
        
    }

    .socials h3{

        font-size: 1.5rem;

    }
    
    .socials h5{
        font-size: 1.0rem;

    }

    .techstack img{
        height: 30px;
        transition: 0.4s;
    }

    
}




