/*General*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "Poppins", sans-serif;

}


html {
    scroll-behavior: smooth;
}



.techstack img{
    height: 40px;
}

.main-container{
    max-width: 90%;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    padding-top: 30px;
    box-shadow: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100px;
}

nav h1 {
    padding: 20px;
    font-size: 3rem;
    color: #D4D4D8;
    font-weight: 300;
    letter-spacing: 10px;
    
}

.landing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    max-width: 100%;
    gap: 10px;
    grid-template-areas: 
        "s1 t1"
    ;
}

.techstack, .socials{
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 15px;
    color: #7E7E87;
    padding: 20px;

}

.techstack{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.socials h3{
    color: #D4D4D8;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2px;
}

.socials h5{
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 1px;
}

.socials p{
    font-weight: 100;
    font-size: 0.8rem;
    margin-bottom: 5px;
    

}

.row3, .row2 span {
    color: #7E7E87;
    font-size: 2rem;
    font-weight: 300;

}

.workcard span{
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 900;
}
.workcard p{
    color: #7E7E87;
    padding: 15px;
    font-weight: 100;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

a{
    text-decoration: underline;
    color: #7E7E87;
    font-weight: 100;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.cards{
    margin-top: 10px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 100%;
    gap: 10px;
    grid-template-areas: 
        "wc1 wc2 wc3"
    ;
}

.workcard{
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workimg{
    height: 225px;
    width: 225px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}


.bento-grid-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 100%;
    gap: 10px;
    grid-template-areas: 
        "education education s1 s1 location"
        "education education s1 s1 location"
        "about about about about cheesecake"
    
    ;
}

.bento-grid-item, .cheesecake, .timeclock{
    padding: 2rem;
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 15px;
}

.bento-grid-item, .cheesecake, .timeclock p{
    color: #7E7E87;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 1px;
}

.bento-grid-item p{
    margin-bottom: 10px;
}

.bento-grid-item a {
    color: #D4D4D8;
    font-size: 1.1rem; 
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;

}


  
.bento-grid-item .workimg {
    width: 100%;
    height: 100%;
    object-fit: cover; /* makes the image fill and crop nicely */
    display: block;
}


.cheesecakebutton{
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    background-color: #7E7E87;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 20px;
    letter-spacing: 2px;
    transition: 0.6s;
}

.resumebutton, .githubbutton{
    font-size: 1.4rem;
    font-weight: 100;
    height: 100%;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.7);
    border: none;
    color: rgb(232, 149, 75);
    border-radius: 10px;
    letter-spacing: 2px;
    transition: 0.4s;
    cursor: pointer;
}

.resumebutton:hover{
    color: rgb(154, 99, 51);
}

.githubbutton:hover{
    color: rgb(154, 99, 51);
}

.cheesecakebutton:hover{
    background-color: rgb(154, 99, 51);
    cursor: pointer;

}

.cheesecake{
    padding: 0;

}

.timeclock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1, .row2, .row3{
    margin-top: 50px;
    margin-bottom: 50px;
} 

#background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.tci:hover{
    height: 60px;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bento-grid-item:hover {
    background-color: black;
}

.bento-grid-item a:hover{
    color: rgb(154, 99, 51);
}

@media screen and (max-width : 1200px) {
    .bento-grid-container{
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "location education"
            "about  about"
            "s1 s1 "
            "cheesecake cheesecake"

        
        ;
    }

    .cards{
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        grid-template-areas: 
            "wc1"
            "wc2"
            "wc3"
        ;
    }

    nav h1 {
        padding-left: 20px;
        font-size: 3rem;
        color: #D4D4D8;
        font-weight: 300;
        letter-spacing: 5px;
        
    }

    
}

@media screen and (max-width : 650px) {
    .bento-grid-container{
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "education"
            "about"
            "s1"
            "location"
            "education"

        
        ;
    }

    .cards{
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        grid-template-areas: 
            "wc1"
            "wc2"
            "wc3"
        ;
    }

    nav h1 {
        padding-left: 20px;
        font-size: 1.5rem;
        color: #D4D4D8;
        font-weight: 300;
        letter-spacing: 5px;

        
    }

    .workimg{
        height: 250px;
        width: 250px;
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
    }

    
}




